<h1><%=@resident.name%></h1>

<form class="" action="/sanctions/remove" method="post">
  <input type="hidden" name="resident[id]" value="<%=@resident.id%>">
  <h2>Deselect sanctions you would like to remove</h2>
  <%@resident.sanctions.each do |sanction|%>
  <p><input type="checkbox" name="resident[sanction_ids][]" value="<%=sanction.id%>" <%='checked' if @resident.sanctions.include?(sanction)%>>
  <%=sanction.name%></p></input>
  <%end%>
  <input type="submit" name="" value="Remove">

</form>

<br></br>

<a href="/managers/<%=session[:user_id]%>">Return To View Residents</a>
