<h1><%=@resident.name%></h1>

<p><h2>Age: <%=@resident.age%></h2></p>

<p><h2>Room Number: <%=@resident.room_number%></h2></p>

<br></br>

<h1>Resident's Current Sanctions</h1>
<%@resident.sanctions.each do |sanction|%>
<ul>
<li><h3><%=sanction.name%></h3></li>

</ul>
<%end%>
<form class="" action="/sanctions/new" method="post">
  <input type="hidden" name="id" value="<%=@resident.id%>">
  <input type="submit" name="" value="Add Sanction">
  <br></br>
  </form>

  <form class="" action="/sanctions/remove" method="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="id" value="<%=@resident.id%>">
    <input type="submit" name="" value="Remove Sanction">

</form>
<br></br>
<form class="" action="/residents/86" method="post">
  <input type="hidden" name="id" value="<%=@resident.id%>">
  <input type="submit" name="" value="Discharge This Client">

</form>
<br></br>
<a href="/managers/<%=session[:user_id]%>">Return To View Residents</a>

<br></br>
