<h1><%=@resident.name%></h1>

<p><h2>Age: <%=@resident.age%></h2></p>

<p><h2>Room Number: <%=@resident.room_number%></h2></p>

<br></br>

<h1>Resident's Current Sanctions</h1>
<%@resident.sanctions.each do |sanction|%>
<ul>
<li><h3><%=sanction.name%></h3></li>

</ul>
<%end%>

<p><a href="/sanctions/<%=@resident.id%>/add">Add Sanction</a></p>

<p><a href="/sanctions/<%=@resident.id%>/remove">Remove Sanction</a></p>
<p><a href="/residents/<%=@resident.id%>/edit">Edit Resident Information</a></p>



<form class="" action="/residents/86" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="id" value="<%=@resident.id%>">
  <input type="submit" name="" value="Permanently 86 This Client">

</form>
<br></br>
<a href="/managers/<%=session[:user_id]%>">Return To View Residents</a>



<br></br>
